html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    0deg,
    rgba(4, 119, 255, 1) 0%,
    rgba(0, 255, 145, 1) 100%
  );

  min-height: 100%;
  padding-bottom: 5rem;
}

h1,
h2 {
  color: #34495e;
  padding: 2rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
}

.title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  color: white;
  color: #34495e;
  padding: 0 10px;
}

.logo {
  display: flex;
  width: 45px;
}

/* ORDER */
.order,
.order-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #34495e;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.order:hover {
  transform: scale(1.03);
  background-color: #203345;
  cursor: pointer;
}

.order-title {
  padding-bottom: 0;
  color: #dddd55;
  font-weight: bold;
}

.order p {
  color: white;
  margin-bottom: 0.5rem;
}

/* INPUT DATE TIME */
input[type="date"],
input[type="time"],
input[type="text"],
input[type="number"] {
  height: 38px;
  padding: 6px 10px;
  background-color: white;
  border: 1px solid #d1d1d1;
  color: #34495e;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  background-color: white;
  border: 1px solid #d1d1d1;
}

label {
  color: #34495e;
}

/* BTN-SUBMIT */
.btn-submit {
  color: #34495e;
  background-color: #00ed9f;
  border-color: #00ed9f;
  transition: all 0.2s;
}
.btn-submit:hover {
  color: #34495e;
  background-color: #16bf86;
  border-color: #16bf86;
  transform: scale(1.02);
}

/* BTN_BUY */
.btn-buy {
  color: #34495e;
  background-color: #dddd55;
  border-color: #dddd55;
  transition: all 0.2s;
}

.btn-buy:hover {
  transform: scale(1.02);
  color: #34495e;
  background-color: #c1c13e;
  border-color: #c1c13e;
}

.btn-submit:active,
.btn-buy:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-submit:focus,
.btn-buy:focus {
  outline: none;
  border: 1px solid transparent;
}

/* ALERTA ERROR */
.alert-error {
  background-color: rgb(255, 100, 100);
  color: white;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Staatliches", cursive;
}

@media only screen and (max-width: 37.5em) {
  h1,
  h2 {
    font-size: 3rem;
    padding: 0;
  }
}
